@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@300;400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    /*font-family: 'Inter', sans-serif;*/
}

body {
    background-color: #f1f6fc31;
    background-image: url('../img/img-santo/2.png');
    background-size: cover;
    background-attachment: fixed;
}

section, footer {
    padding: 54px 0;
}

h3 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
}

.container {
    max-width: 1400px; /*Largura máxima, ela não passa de 1400 px*/
    margin: 0 auto;
    padding: 0 5%;
}

.wpp {
    background-color: rgb(2, 184, 2);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
}

.wpp:hover {
    color: black;
}

.btn { /*Botão de contato*/
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover { /*Botão de contato*/
    background-color: #3580db;
}

@keyframes animate-outline { /*Animação do botão "Entrar em contato"*/
    from{
        outline: 0px solid #4f9bf98a;
    }
    to{
        outline: 15px solid #4f9bf98a;
    }
}

header {
    background-position: center;
    background-size: cover; /*Ela ocupa toda largura e altura do Header*/
    background-attachment: fixed; /*Efeito paralax*/
}

nav {
    display: flex; /*Deixa os elementos um ao lado do outro*/
    align-items: center;
    justify-content: space-between; /*Deixa os elementos espalhos iguais*/
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block; /*Ter comportamento de bloco*/
}

nav ul a:not(.btn):after { /*Linha abaixo dos menu, interação, (not) todos a animação menos a classe .btn que é o botão de contato*/ 
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0;
    display: block;
    margin: 0 auto; /*animação começa do centro*/
    transition: 0.3s;
}

nav ul a:hover::after { /*Linha abaixo dos menu, interação*/
    width: 100%;
}

/*Menu Mobile*/
nav .menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none; /*Ele oculta o botao*/
}

nav .close-icon {
    display: none; /*Faz sumir o item de fechar*/
    font-size: 30px;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 96px;
    color: white;
}

.banner .banner-text p {
    font-size: 25px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}

/*Container nos conenheça!*/

/*SLIDER CONHEÇA RESTAURANTE - INICIO*/
/*SLIDER CONHEÇA RESTAURANTE - FINAL*/

.faca-mais .container {
    display: flex;
    align-items: center;
}

.faca-mais .faca-mais-text {
    width: 50%; /*Fazer com que o texto ocupe 50% do container somente*/
    padding: 0 40px;
}

.faca-mais .faca-mais-text h3 {
    font-size: 56px;
}

.faca-mais .faca-mais-text p {
    font-size: 20px;
    margin: 5px 0 10px; 
}

.faca-mais .faca-mais-img {
    width: 50%; /*Outros 50% da imagem!*/
}

.faca-mais .faca-mais-img img {
    width: 100%; /*Ocupa 100% do elemento pai, que seria o "facamais img*/
    border-radius: 50px;
}

.depoimentos h3 {
    text-align: center;
}

.depoimentos p {
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*Ele vai faazer quebrar na responsividade*/
}

.depoimentos .card-item {
    background-color: rgba(84, 14, 14, 0.568);
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card-item img {
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .card-item .nome-user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .card-item .depoimento-user {
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.depoimentos .card-item .estrelas {
    margin: 15px 0;
    border-top: 2px solid #71767a23;
    transition: 0.3s;
}

.depoimentos .card-item .estrelas i {
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
}

.depoimentos .card-item:hover {
    background-color: black;
    margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user, .depoimentos .card-item:hover .depoimento-user, .depoimentos .card-item:hover .estrelas i {
    color: white;
}

/*Nossos Parceiros*/
.clientes h3, 
.clientes p{
    text-align: center;
}

.clientes .container div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clientes .container div a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Footer*/
.footer {
    background-color: #4f9cf9;
    text-align: center;
}

.footer i {
    color: #4f9cf9;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p {
    margin-top: 10px;
    color: white;
}


/*Pagina Sobre*/
.sobre .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text {
    width: 50%;
    padding-right: 40px;
}


.sobre .sobre-text p {
    margin: 18px 0;
    color: #000000a6;
}


.sobre .sobre-img {
    width: 50%;
}

.sobre .sobre-img img {
    width: 100%;
    border-radius: 10px;
}

/*Final pagina Sobre*/

/*Inicio pagina Serviços*/
.servicos h3 {
    text-align: center;
}

.servicos .container >p {
    text-align: center;
}

.servicos .rows-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /*Para quebrar e deixa 3 e 3 os cards*/
}

.servicos .row-card-item {
    background-color: #d3e6fd;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}

.servicos .row-card-item:hover {
    background-color: #4f9cf9;
}

.servicos .row-card-item:hover p {
    color: white;
}

.servicos .row-card-item img {
    background-color: #4f9cf9;
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}

.servicoes .row-card-item p.nome.servico {
    margin: 5px 0;
    transition: 0.3s;
}

.servicos .row-card-item p.descricao-servico {
    transition: 0.3s;
}
/*Final Pagina Serviços*/

/*dados*/
.dados {
    background: #d3e6fd;
}

.dados .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item {
    text-align: center;
    margin: 15px;
    color: #000000be
}

.dados .dados-item img {
    background-color: #4f9cf9;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}

.dados .dados-item p {
    font-size: 18px;
}

.dados .dados-item p strong {
    font-size: 28px;
}

/*Página de Contato - Inicio*/
.contato-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contato-info .left-side {
    width: 50%;
    padding: 30px;
    background-color: #4f9cf9;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content; /*A altura vai ser baseado em seu conteudo*/
}

.contato-info .left-side div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contato-info .left-side div i {
    font-size: 24px;
    margin-right: 20px;
    color: white;
}

.contato-info .left-side p {
    font-size: 17px;
    color: white;
}

.contato-info .rigth-side {
    width: 50%;
}

.contato-info .rigth-side input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid black;
    color: #212121;
    font-weight: lighter;
}

.contato-info .rigth-side input:focus,
.contato-info .rigth-side textarea:focus {
    border-color: #4f9cf9;
}

.contato-info .rigth-side textarea {
    border: 1px solid #f1f1f1;
    color: #212121;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none; /*Tira a opção da caixa de mensagem*/
}



/*Página de Contato - FIM*/

/*Responsividade do Menu*/
@media(max-width: 830px) {
    .faca-mais-img iframe {
        width: 100%;
    }
    .ul {
        position: fixed;
        top: 0;
        left: 0;
        background: #184b88;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0); /*Feito no site: bennettfeely*/
        transition: 0.7s;
    }

    .ul.open {
        clip-path: circle(141.4% at 100% 0);
    }

    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon {
        display: block; /*Faz aparece o Icone do Menu*/
  }
    nav .close-icon {
        display: block; /*Faz ele aparecer*/
        position: absolute;
        top: 46px;
        right: 28px;
    }
    /*Página Inicial Reponsiva*/
.faca-mais .faca-mais-text {
    margin-top: 10px;
    padding: 0 20px;
    order: 1;
}

.faca-mais .container{
    flex-direction: column;
}

.faca-mais .faca-mais-text h3 {
    font-size: 48px;
}

.faca-mais .faca-mais-text,
.faca-mais .faca-mais-img {
    width: 100%;
}

/*Banner Responsivo*/
.banner .banner-text {
    padding: 0;
    margin: 80px;
}

.banner .banner-text h1 {
    font-size: 80px;
}


.banner .banner-text p{
    font-size: 15px;
}

.depoimentos .card-item {
    width: 100%;
}

/*Pagina Sobre Responsividade*/
.sobre .container {
    flex-direction: column-reverse; /*Troca a ordem da coluna*/
}

.sobre .sobre-img,
.sobre .sobre-text {
    width: 100%;
}

.sobre .sobre-text {
    margin-top: 40px;
}


/*Pagina contato Responsivo*/
.contato .contato-info{
    flex-direction: column-reverse;
}

.contato-info .rigth-side,
.contato-info .left-side {
    width: 100%;
}

.contato-info .rigth-side{
    margin-bottom: 30px;
}

}

@media (max-width:500px) {
    .banner .banner-text h1 {
        font-size: 50px;
    }
    .faca-mais .faca-mais-text h3{
        font-size: 40px;
    }
}